/* Top bar with change password and logout links */
#option-menu-bar {
	clear: both;
}

#option-menu,#option-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 11px;
	text-align: right;
}

#option-menu li {
	display: inline;
	color: #444444;
	font-weight: bold;
	padding-right: 5px;
	margin: 0px;
}

#option-menu li a {
	color: #444444;
}

/* menu bar */
#top-menu {
	clear: both;
}

#top-menu {
	height: 25px;
	min-width: 75em;
	position: relative;
	//background: #FCB334;
	padding-left: 20px;
	border: 0;
}


/* RTA: remove padding, list style, margins from li - set in style.css */
#nav li {
	display: block;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
}

#nav,#nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	font-family: Arial, sans-serif, Verdana;
	font-size: 11px;
	font-variant: small-caps;
}

#nav a {
	display: block;
	text-decoration: none;
	text-transform: capitalize;
	color: #000000;
	/*padding-left: 25px;*/
	/* Disable link outline from clicked links. works only in firefox
	 * For ie, need: onclick="this.blur();return true" or onfocus="if (this.blur) this.blur();"
	*/
	outline: 0;
}

#nav ul.l2 li:hover a.l2_link span, #nav ul.l2 li.hover a.l2_link span {
	color: #FFFFFF;
}

#nav ul.l3 li:hover a span, #nav ul.l3 li.hover a span {
	color: #FFFFFF;
}

/* TODO: check and change if needed to set text width to auto - eg: to fit other language menu's. */
#nav li.l2 a {
	width: 10em;
}

/* To view longer tabs in Recruitment menu item */
div#top-menu ul#nav li#recruit.l1 ul.l2 li.l2 a {
    width: 11.5em;
}

#nav li.l1 {
	margin: 0 0px;
	padding-left: 5px;
}

#nav li {
	float: left;
	line-height: 25px;
}

#nav ul, #nav li, #nav a, #nav a span {
	cursor: pointer;
}
#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
}

#nav li:hover ul ul,#nav li.hover ul ul {
	left: -999em;
}

#nav li.l1:hover a.l1_link { /*font-weight: bold;*/

}

#nav li ul ul {
	margin: -2em 0 0 10em;
}

#nav li ul.l2 {
	margin-left: 0;
}
#nav li ul.l3 {
	margin-left: 12.5em;
}

/* Adjust PIM drop down margins */
#nav li#pim ul.l3 {
	margin-left: 14em;
}
#nav li#time ul.l3 {
	margin-left: 14em;
}

#nav li#admin ul.l3 {
    margin-left: 14em;
}

#nav li#leave ul.l3 {
    margin-left: 14em;
}

#nav li#benefits ul.l3 {
	margin-left: 14em;
}

#nav li:hover ul,#nav li li:hover ul,#nav li.hover ul,#nav li li.hover ul
	{
	left: auto;
}

#nav li.l1 span.current {
	font-weight: bold;
}

#nav li a span {
	height: 25px;
	/*width:auto;*/
	padding: 0  25px;
	display: block;
	border: 1px solid #CCC;
	border-radius: 5px 5px 0 0;
	box-shadow: 1px 0 1px;
	color: #000000;
	font-weight: bold;
}

#nav li.l1:hover a.l1_link span,  #nav li.hover a.l1_link span {
	background: #F3F3F3;// url(images/tophov.gif) top right;
}

#nav li.l1 a.l1_link span.drop {
	/*background: url(images/topdrop.gif) top right;*/
}

#nav li.l1:hover a.l1_link span.drop, #nav li.hover a.l1_link span.drop {
//	background: url(images/topdrophov.gif) top right;
}


/* TODO: Problem with having dual classes to use hover */
#nav li.l1:hover, #nav li.hover {
//	background: url(images/tophov.gif) top left;
}

/* Drop down styling */
#nav ul.l2 li {
//	background: url(images/dropitem.gif) top left;
}
#nav ul.l2 li.l2:hover, #nav ul.l2 li.hover {
	background: url(images/dropitemhov.gif) top left;
}
#nav ul.l3 li.l3:hover, #nav ul.l3 li.hover {
	background: url(images/dropitemhov.gif) top left;
}
/* Drop down styling */
#nav ul.l2 li span {
	padding-left: 10px;
}
#nav ul.l2 li.l2:hover a.l2_link span, #nav ul.l2 li.hover a.l2_link span {
	background: #000000;
	padding-left: 10px;
}
#nav ul.l3 li.l3:hover  span, #nav ul.l3 li.hover span {
	background: #000000; 
	padding-left: 10px;
}
#nav ul.l2 li a.parent span {
	padding-left: 10px;
	background:url(images/dropparentArrow.png) no-repeat right #F3F3F3;
}
#nav ul.l2 li:hover a.parent span, #nav ul.l2 li.hover a.parent span {
	background: url(images/dropparenthov.gif) top right;
	padding-left: 10px;
}

/* Icons - top level */
#nav li#admin a.l1_link {
	/*background: transparent url(icons/projects.gif) no-repeat center left;*/
}

#nav li#pim a.l1_link {
	/*background: transparent url(icons/users.gif) no-repeat center left;*/
}

#nav li#leave a.l1_link {
	/*background: transparent url(icons/leaveList.gif) no-repeat center left;*/
}

#nav li#time a.l1_link {
	/*background: transparent url(icons/leaveSummary.gif) no-repeat center left;*/
}

#nav li#benefits a.l1_link {
	/*background: transparent url(icons/projects.gif) no-repeat center left;*/
}

#nav li#recruit a.l1_link {
	/*background: transparent url(icons/customers.gif) no-repeat center left;*/
}

#nav li#perform a.l1_link {
	/*background: transparent url(icons/skills.gif) no-repeat center left;*/
}

#nav li#report a.l1_link {
	/*background: transparent url(icons/defemprep.gif) no-repeat center left;*/
}

#nav li#ess a.l1_link {
	/*background: transparent url(icons/users.gif) no-repeat center left;*/
}

#nav li#bug a.l1_link {
	/*background: transparent url(icons/defineLeaveType.gif) no-repeat center left;*/
}

#nav li#help a.l1_link {
	/*background: transparent url(icons/natandrace.gif) no-repeat center left;*/
}

/* Drop down menu widths */
/* TODO: Try to set widths automatically */
#nav li ul li.l2 span {
	background-color: #F3F3F3;
	width: 10.8em;
}
#nav li#admin ul li.l2 span {
	width: 10.8em;
}
#nav li#admin ul li.l3 a.importexport span {
	width: 10.8em;
}
#nav li#pim ul {
	width: 10.8em;
}

#nav li#pim ul li.l2 span {
    width: 10.8em;
}

#nav li#pim ul li.l3 span {
	width: 10.8em;
}

#nav li#leave ul li.l2 span {
	width: 10.8em;
}
#nav li#leave ul li.l3 a.leavesummary span {
	width: 10.8em;
}

#nav li#time ul li.l2 span {
	width: 10.8em;
}

#nav li#time ul li.l3 a.timesheets span {
	width: 10.8em;
}

#nav li#recruit ul li.l2 span {
    width: 10.8em;
}

#nav li#benefits ul li.l2 span{
	width: 10.8em;
}
#nav li#benefits ul li.l3 a.hsp span{
	width: 10.8em;
}
#nav li#benefits ul li.l3 a.payrollschedule span{
	width: 10.8em;
}
#nav li#recruit ul {
	width: 10.8em;
}
#nav li#perform ul {
	width: 13em;
}

#nav li#perform ul li.l2 span {
    width: 10.8em;
}

#nav li#report ul li.l2 span {
	width: 13em;
}

#nav li#ess ul {
	width: 13em;
}

#nav li#bug aul {
	width: 13em;
}

#nav li#help ul {
	width: 13em;
}

#nav li#help ul li.l2 span {
    width: 10.8em;
}

/* help menu icons */
#nav li.l2 a.help {
	/*background: transparent url(newicons/Help-Contents.gif) no-repeat center left;*/
}

#nav li.l2 a.support {
	/*background: transparent url(newicons/Support.gif) no-repeat center left;*/
}

#nav li.l2 a.forum {
	/*background: transparent url(newicons/Forum.gif) no-repeat center left;*/
}

#nav li.l2 a.blog {
	/*background: transparent url(newicons/Blog.gif) no-repeat center left;*/
}

/* Admin menu icons */
#nav li.l2 a.companyinfo {
	/*background: transparent url(icons/compinfo.gif) no-repeat center left;*/
}

#nav li.l2 a.job {
	/*background: transparent url(icons/job.gif) no-repeat center left;*/
}

#nav li.l2 a.qualifications {
	/*background: transparent url(icons/qualification.gif) no-repeat center left;*/
}

#nav li.l2 a.skills {
	/*background: transparent url(icons/skills.gif) no-repeat center left;*/
}

#nav li.l2 a.memberships {
	/*background: transparent url(icons/memberships.gif) no-repeat center left;*/
}

#nav li.l2 a.natandrace {
	/*background: transparent url(icons/natandrace.gif) no-repeat center left;*/
}

#nav li.l2 a.users {
	/*background: transparent url(icons/users.gif) no-repeat center left;*/
}

#nav li#admin ul li.l3 a.users span {
    width: 18em;
}

#nav li.l2 a.email {
	/*background: transparent url(icons/email_notifications.gif) no-repeat center left;*/
}

#nav li.l2 a.project {
	/*background: transparent url(icons/projects-dd.gif) no-repeat center left;*/
}

#nav li.l2 a.importexport {
	/*background: transparent url(newicons/DataImport-Export.gif) no-repeat center left;*/
}

#nav li.l2 a.customfields {
	/*background: transparent url(newicons/Custom-Fields.gif) no-repeat center left;*/
}

#nav li.l2 a.ldap {
	/*background: transparent url(icons/approveLeave.gif) no-repeat center left;*/
}

#nav li.l2 a.companyproperty {
	/*background: transparent url(icons/approveLeave.gif) no-repeat center left;*/
}

/* PIM menu icons */
#nav li.l2 a.emplist {
	/*background: transparent url(newicons/Employee-List-2.gif) no-repeat center left;*/
}
#nav li.l2 a.empadd {
	/*background: transparent url(newicons/Add-Employee.gif) no-repeat center left;*/
}

#nav li.l2 a.personal {
	/*background: transparent url(icons/customers.gif) no-repeat center left;*/
}

#nav li.l2 a.employment {
	/*background: transparent url(icons/job.gif) no-repeat center left;*/
}

#nav li.l2 a.pimqualifications {
	/*background: transparent url(icons/qualification.gif) no-repeat center left;*/
}

#nav li.l2 a.pimmemberships {
	/*background: transparent url(icons/memberships.gif) no-repeat center left;*/
}

#nav li.l2 a.attachments {
	/*background: transparent url(icons/qualification.gif) no-repeat center left;*/
}

#nav li.l2 a.custom {
	/*background: transparent url(icons/approveLeave.gif) no-repeat center left;*/
}

/* Leave menu icons */
#nav li.l2 a.leavesummary {
	/*background: transparent url(icons/leaveSummary.gif) no-repeat center left;*/
}

#nav li.l2 a.daysoff {
	/*background: transparent url(newicons/Define-Days-Off.gif) no-repeat center left;*/
}

#nav li.l2 a.leavetypes {
	/*background: transparent url(icons/defineLeaveType.gif) no-repeat center left;*/
}

#nav li.l2 a.assignleave {
	/*background: transparent url(newicons/Assign-Leave.gif) no-repeat center left;*/
}

#nav li.l2 a.applyLeave {
	/*background: transparent url(icons/applyLeave.gif) no-repeat center left;*/
}

#nav li.l2 a.approveLeave {
    /*background: transparent url(newicons/Approve-Leave-2.gif) no-repeat center left;*/
}

#nav li.l2 a.leavelist {
	/*background: transparent url(newicons/Leave-List.gif) no-repeat center left;*/
}

/* Time menu icons */
#nav li.l2 a.timesheets {
	/*background: transparent url(newicons/Timesheets.gif) no-repeat center left;*/
}

#nav li.l2 a.employeereports {
	/*background: transparent url(icons/leaveSummary.gif) no-repeat center left;*/
}

#nav li.l2 a.projectreports {
	/*background: transparent url(newicons/Project-Reports.gif) no-repeat center left;*/
}

#nav li.l2 a.workshifts {
	/*background: transparent url(newicons/Work-Shifts.gif) no-repeat center left;*/
}

#nav li.l2 a.punchTime {
	/*background: transparent url(newicons/Punch-InOut.gif) no-repeat center left;*/
}

#nav li.l2 a.projectTime {
	/*background: transparent url(newicons/Project-Time.gif) no-repeat center left;*/
}

/* Benefits menu icons */
#nav li.l2 a.hsp {
	/*background: transparent url(newicons/Health-savings-plan.gif) no-repeat center left;*/
}

#nav li.l2 a.payrollschedule {
	/*background: transparent url(newicons/Payroll-Schedule.gif) no-repeat center left;*/
}

/* Recruitment menu icons */
#nav li.l2 a.vacancies {
	/*background: transparent url(newicons/Job-Vacancies.gif) no-repeat center left;*/
}

#nav li.l2 a.applications {
	/*background: transparent url(newicons/Applicants.gif) no-repeat center left;*/
}

/* Performance menu icons */
#nav li.l2 a.definekpi {
	/*background: transparent url(icons/defemprep.gif) no-repeat center left;*/
}

/* Reports menu icons */
#nav li.l2 a.viewreports {
	/*background: transparent url(icons/viewemprep.gif) no-repeat center left;*/
}

#nav li.l2 a.definereports {
	/*background: transparent url(icons/defemprep.gif) no-repeat center left;*/
}
